.background img {
    height: 350px;
    width: 940px;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    margin-left: 195px;
}
.avatar img {
    height: 171px;
    width: 171px;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 50%;
    position: relative;
    top: -38px;
    left: 35px;
}
.name {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -177px;
    left: 420px;
}
.friend {
    font-size: 18px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -190px;
    left: 420px;
}
.muc1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;

    position: relative;
    top: -335px;
    left: 932px;
    padding: 10px 20px;
    padding-left: 36px;
    border-radius: 5px;
}
.muc1:hover {
    background-color:rgb(225, 225, 222);
}
.muc2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color:rgb(40, 119, 255);

    position: relative;
    top: -200px;
    left: 555px;
    padding: 10px 10px;
    border-radius: 5px;
}
.muc2:hover {
    background-color: rgb(58, 129, 252);
}
.muc3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    background-color: rgb(229, 229, 229);

    position: relative;
    top: -200px;
    left: 565px;
    padding: 10px 10px;
    padding-left: 35px;
    border-radius: 5px;
}
.muc3:hover {
    background-color: rgb(215, 213, 213);
}
.camera img {
    height: 28px;
    width: 28px;

    position: relative;
    top: -358px;
    left: 742px;
}
.pencil img{
    height: 28px;
    width: 28px;
    
    position: relative;
    top: -255px;
    left: 668px;
}
.thanh-ngang{
    border: 1px solid rgb(170, 170, 170);
    width: 940px;
    position: relative;
    top: -222px;
    left: 194px;
}
